/*<!--header of not -->*/

.h2-trans {
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px;
    font-family: "Oswald";
    text-transform: uppercase;font-size: 80px; 
    color: #fff;
}
.ex-content {
    margin-top: -240px;
    position: relative;
    top: -340px;
}
.abc {
<<<<<<< HEAD
	width: 100%;
	background: #000;
	opacity: 0.6;
	background-image: url('/img/01.jpg');
	height: 915px;
  background-attachment: fixed;
=======
    width: 100%;
    background: #000;
    opacity: 0.6;
    background-image: url('/img/01.jpg');
    height: 915px;
    background-attachment: fixed;
>>>>>>> 80958f0dc333d8f3740cdda1200138631ec9bcda
}

span a {
    top: 13px;
    position: relative;
    font-size: 17px;
    color: #5a5a5a;
    margin-right: 0;
    padding: 5px;
}

span a:hover {
    color: #cf9b67;
}
.banner-top {
    height: 50px;
    background-color: #000;
}

.banner-top ul li {
    color: #fff;
    font-size: 12px;
    float: left;
    margin-right: 47px;
    height: 50px;
    line-height: 50px;
}

.menu {
    width: 100%;
    height: 70px;
    background: #000;
    opacity: 0.7;
}

.menu ul li a{
    color: #fff;
    font-size: 14px;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #cf9b67;
    font-size: 14px;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

.menu ul li a .active{
    color: #cf9b67;
}

.menu ul li {
    color: #fff;
    font-size: 12px;
    float: left;
    margin-right: 47px;
    height: 70px;
    line-height: 70px;
}


ul li {
    list-style: none;
}
.text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/*--special menu of Thoang-->*/
.image-right>img{
width: 500px;
height: 500px;
}
.col-md-3>span{
    background-color: red;
    margin-left: 221px;
}
.col-md-3>img{
    border-style: solid;
    border-color: #dff0d8;
    border-width: 5px;
}
.from{
    
    font-size: 20px;
    color: #cf9b67;
    
}
.circle{
     border: 1px solid #cf9b67;
    width: 124px;
    height: 145px;
    top: 187px;
    left: 204px;
    position: absolute;
    background-color: white;
     border-radius: 50%;
     border-style: #cf9b67;
     border-width: 2px;
}
.circle:hover{
    background-color: #cf9b67;
}
.circle>a{
    position: absolute;
    left: 42px;
    top: 42px;
}
.circle>a:hover{
color:white;
}
.circle>a>span{
    position: absolute;

}
.circle>a>span:hover{
    color: white;
}
.special{
    font-size: 30px;
    color: balck;
}
.col-md-3>h2{
    width: 373px;
}
.col-md-3>p{
        width: 312px;
}

/*An*/
.page-header {
    color: white;
    margin: 20px 0;
    padding-bottom: 9px;
    text-align: center;
}

.form-control {
   
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding: 6px 15px;
}


.form-background {
    background: black;
    padding: 20px 50px 20px 50px;
    margin: 100px;
}

legend {
    border: medium none;
    color: white;
    display: block;
    font-size: 20px;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 10px;
    border: 10%;
    font-size: 21px;
}
.form-order input, .form-order textarea {
border-radius: 5px;
margin-top: 10px;
}
 .form-order textarea {
  height: 100px;
 }

/*--oder form of An-*/

.slide {
    background:url(img/02.jpg) center -2px no-repeat;
        padding: 100px 0;
    
}
.delas{
    text-align: center;
    color: #cf9b67;
    font-family: "";
    letter-spacing: 1px;
    display: block;
    line-height: 32px;
    font-size:30px;
}

.title {
    text-align: center;
    margin: 14px 0 34px;
    line-height: 42px;
    padding-bottom: 35px;
    position: relative;
    font-size: 40px;
    font-family: "";
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item img{
    height: 300px;
}

/*-slide of Lai-->*/

.Dishes-tag ul >li >a{
  float: left;
  text-align: center;
  max-width: 200px;
  border: 2px solid #eaeaea;
  margin: 5px 20px 0 20px;
  padding: 15px 40px 15px 40px;
  border-radius: 8%;
  text-decoration: none;
  color: #777777;
}
.Dishes-tag ul >li >a:hover{
  border: 2px solid #cf9b67;
  background: #cf9b67;
  color:  #fff;
}
.Dishes-tag .active{
  border: 2px solid #cf9b67;
  background: #cf9b67;
  color:  #fff;

}
.Dishes-tag ul >li > a.active{
  cursor: default;
}
.Dishes-contentTag .hidden{
 opacity:0;
 -moz-transform:scale(0);
 -webkit-transform:scale(0);
 -o-transform:scale(0);
 -ms-transform:scale(0);
 transform:scale(0);
}
.Dishes-contentTag a{
    display:inline;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
 -moz-transition:all 0.4s ease;
 -webkit-transition:all 0.4s ease;
 -o-transition:all 0.4s ease;
 transition:all 0.4s ease;
}


/*--content of Hien--*/


.footer {
  background: #212121;
  padding-top: 100px;
}

.logo img {
  max-width: 170px;
  display: block;
  margin-bottom: 40px;
}
.logo p {
  color: #999999;
  line-height: 22px;
  margin-bottom: 25px;
}
.open p {
  color: #999999;
  margin-bottom: 17px;
}
.open p span {
  color: #cf9b67;
  text-transform: uppercase;
}

.item-tweet {
  overflow: hidden;
  margin-bottom: 20px;
}
.item-tweet:last-child {
  margin-bottom: 0;
}
.item-tweet > i {
  float: left;
  width: 10%;
  color: #cf9b67;
  font-size: 18px;
  margin-top: 2px;
}
.item-tweet > div {
  float: right;
  width: 88%;
}
.item-tweet > div p {
  color: #999999;
  line-height: 22px;
  margin-bottom: 5px;
}
.item-tweet > div p a {
  color: #999999;

}
.item-tweet > div p a:hover {
  color: #cf9b67;
}
.item-tweet > div span {
  color: #cf9b67;
}

.instagram a {
  float: left;
  margin: 0 1% 1% 0;
  width: 32.66%;
  position: relative;
}


/*--footer of Lai--*/
